[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
opencv-contrib-python = "*"
pyparsing = "==2.4.7"

[dev-packages]

[requires]
python_version = "3.6"
